<div class="my-4">
  <form class="form-inline my-2 my-lg-0" (ngSubmit)="getCords()">
    <input
      class="form-control mr-sm-2"
      type="search"
      name="search"
      [(ngModel)]="search_text"
      placeholder="Search"
      aria-label="Search"
    />
  </form>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered table-hover">
      <tr>
        <th>#</th>
        <th>Name</th>
      </tr>
      <tr *ngFor="let user of users | userFilter: search_text">
        <td>{{ user.id }}</td>
        <td (click)="getUserbyid(user.id)">{{ user.name }}</td>
      </tr>
    </table>

    <div *ngIf="error" class="service-error alert-danger my-4 alert">
      <h5>{{ error.errorTitle }}</h5>
      <h6>{{ error.errorDesc }}</h6>
    </div>
  </div>

  <div class="col-md-6" *ngIf="userId">
    <app-user [userId]="userId"></app-user>
  </div>
</div>
