
<div class="jumbotron">
    <h5 class="display-4">Geo Location</h5>
    
    <hr class="my-2">
    <div>
      <form class="form-inline my-2 my-lg-0" (ngSubmit)="getCords()">
        <input class="form-control mr-sm-2" type="search" name="search" [(ngModel)]="search_text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  
    <div class="geometry_info" *ngIf="show_cords">
      <h5>Location Name: {{search_text}}</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="geometry_block">
            <h1 class="n_bg">N</h1>
            <div class="geometry_text">
              <p>Latitude: {{cords.northeast.lat | number : '1.2-2'}}</p>
              <p>Langnitude: {{cords.northeast.lng | number : '1.2-2' }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="geometry_block">
            <h1 class="s_bg">S</h1>
            <div class="geometry_text">
              <p>Latitude: {{cords.southwest.lat | number : '1.2-2'}}</p>
              <p>Langnitude: {{cords.southwest.lng | number : '1.2-2' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="service-error alert alert-danger" *ngIf="error">
        <h1>{{error.errorTitle}}</h1>
        <h3>{{error.errorDesc}}</h3>
      </div>
  </div>