<table class="table table-bordered" *ngIf="user">
  <tr>
    <td>Id</td>
    <td>:</td>
    <td>{{ user.id }}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>:</td>
    <td>{{ user.name }}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>:</td>
    <td>{{ user.email }}</td>
  </tr>
  <tr>
    <td>Address</td>
    <td>:</td>
    <td>
      <p class="mb-0">Lat: {{ user.address.geo.lat | number: "1.2-2" }}</p>
      <p class="mb-0">Lng: {{ user.address.geo.lng | number: "1.2-2" }}</p>
    </td>
  </tr>
</table>
